#full-checkout-page {
    padding: 0px 200px 30px 200px;
}

#checkout-title-and-btn {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
  margin-bottom: 30px;
}

#checkout-title {
  font-size: 2.5rem;
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 30px;
}

#back-home-btn {
  grid-area: button;
  background: black;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

#back-home-btn:active {
  background: white;
  border: 1px solid black;
  background-position: 0 0;
  color: black;
}

#selected-product-table-h3s {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.25fr 0.25fr;
  grid-template-areas: "product . quantity total";
}

#checkout-product-title {
  grid-area: product;
  text-align: left;
  display: flex;
  justify-content: center;
}

#checkout-quantity-title {
  grid-area: quantity;
}

#checkout-total-title {
  grid-area: total;
}

#discount-code-group {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

#discount-code {
  width: 300px;
  height: 30px;
  font-size: 1.2rem;
}

#subtotal-group {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
  padding-top: 30px;
}

#subtotal-h4 {
  font-size: 1.4rem;
  margin: 0px;
}

#price-tag-h4 {
  font-size: 1.4rem;
  margin: 0px;
}

#shipping-and-handling {
  text-align: end;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
}

#final-checkout-btn {
  float: right;
  background: black;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 20px 25px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  font-size: 1.4rem;
}

#final-checkout-btn:active {
  background: white;
  border: 1px solid black;
  background-position: 0 0;
  color: black;
}

#listed-checkout-products {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.cart-item-divs {
  display: grid;
  margin-bottom: 50px;
  grid-template-columns: 0.5fr 1fr 0.25fr 0.25fr;
  grid-template-areas: "product-checkout-image product-checkout-details product-checkout-quantity product-checkout-total";
}

.cart-item-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  justify-self: center;
  align-self: center;
  grid-area: product-checkout-image;
}

.product-checkout-details {
  grid-area: product-checkout-details;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quantity-checkout-details {
  grid-area: product-checkout-quantity;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cartItem-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.cartItem-description {
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
  margin: 0px;
  width: 90%;
}

.cartItem-price {
  font-size: 1rem;
}

.cart-qty-btn {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  width: auto;
}

.cart-qty-btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.cart-item-quantities {
  font-weight: 400;
}

.cart-totals-calculated {
  font-size: 1rem;
  grid-area: product-checkout-total;
  display: flex;
  align-items: center;
  justify-content: center;
}

#discount-and-checkout {
  /* margin-right: 100px; */
  margin-top: 50px;
}
